<div class="weatherWidget">
    {{#each partials.weatherContext.locations}}
        <div class="location">
            <h3>{{name}}</h3>
            <a href="{{forecastUrl}}">
                <img src="{{iconUrl}}" alt="{{weather}}">
                {{weather}}. {{temp}}
            </a>
        </div>
    {{/each}}
    <small>Источник: <a href="http://www.wundergroud.com">Weather Underground</a> </small>
</div>