<!DOCTYPE HTML>
<html>
<head>
    <title>Sea of dreams Travel</title>
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    {{{_section.head}}}
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
    {{#each _bundles.css}}
        <link rel="stylesheet" href="{{static .}}">
    {{/each}}
    <script src="/js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <header>
        <div class="col-sm-4">
            <img src="/img/logo.png" alt="Логотим Sea of dreams travel">
        </div>
        <div class="col-sm-2 pull-right">
            {{#if cartItems}}
                <a href="/cart"><img class="cartIcon" src="{{static '/img/shop/cart_full.png'}}" alt="Cart Empty"></a>
            {{else}}
                <a href="/cart"><img class="cartIcon" src="{{static '/img/shop/cart_empty.png'}}"
                                     alt="Cart Contains {{CartItems}} Items"> </a>
            {{/if}}
        </div>
    </header>
    <div class="container">
        {{#if flash}}
            <div class="alert alert-dismissable alert-{{flash-type}}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{flash.intro}}</strong>
                {{{flash.mesage}}}
            </div>
        {{/if}}
        {{{body}}}
        <hr>
        <footer>
            <p>&copy; Sea of Dream Travel 2017</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"/>
    {{#each _bundles.js.head}}
        <script src="{{static .}}"/>
    {{/each}}
    <script>
        var IMG_CART_EMPTY = '{{static '/img/shop/cart_empty.png'}}';
        var IMG_CART_FULL = '{{static '/img/shop/cart_full.png'}}';

        var cart = (function () {
            var items = Array({{cartItems}});
            return {
                items: items,
                isEmpty: function () {
                    return !items.length;
                },
                addItem: function (id) {
                    items.push(id);
                    $(document).trigger('seaofdreamtravel_cart_changed');
                }
            };
        })();

        $(document).on('seaofdreamtravel_cart_changed', function () {
            $('header img.cartIcon').attr('src', cart.isEmpty() ? IMG_CART_EMPTY: IMG_CART_FULL);
        });
    </script>
{{{_section.jquery}}}
{{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>mocha.run();</script>
{{/if}}
</body>
</html>