<body>
<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
    <tr>
        <td valign="top">
            <table cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="200" valign="top"><img class="image_fix" src="http://meadowlarktravel.com/email/logo.png"
                    alt="Sea of dream Travel" title="Sea of dream Travel" width="180" height="220"/></td>
                </tr>
                <tr>
                    <td width="200" valign="top">
                        <p>Спасибо за заказ поездки в Sea of Dream Travel {{cart.billing.name}}</p>
                        <p>Ваш номер бронирования: {{cart.number}}</p>
                    </td>
                </tr>
                <tr>
                    <td width="200" valign="top">
                        Проблемы с бронированием? Свяжитесь с нами по номеру <span class="mobile_link">287-45-98</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>