<p>Спасибо за заказ поездки в Sea of dream travel. {{cart.billing.name}}</p>
<p>Ваш ноиер бронирования: {{cart.number}} на адрес {{cart.billing.email}} было отправленно письмо в качестве подтверждения</p>