{{#section 'head'}}
    <!-- Мы хотим чтобы гугл игнорировал эту страницу-->
    <meta name="robots" content="noindex">
{{/section}}
<h1>Тестовая страница</h1>
<p>Тестируем что-то связанное с jquery</p>
{{#section 'jquery'}}
    <script>
        $('document').ready(function () {
            $('h1').html('Jquery работает')
        });
    </script>
{{/section}}
