<h2>Подпишитесь на рассылку для получения новостей и специальных предложений!</h2>

<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form" action="/process?form=newsletter" method="post">
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <div class="form-group">
            <label for="fieldName" class="col-sm-2 control-label">Имя</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="fieldName" name="name">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required id="fieldEmail" name="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</div>

{{#section 'jquery'}}
    <script>
        $(document).ready(function () {
            $('.newsletterForm').on('submit', function (evt) {
                evt.preventDefault();
                var action = $(this).attr('action');
                var $container = $(this).closest('.formContainer');
                $.ajax({
                    url: action,
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (data) {
                        if(data.success) {
                            $container.html('<h2>Спасибо!</h2>');
                        } else {
                            $container.html('Возникла проблема');
                        }
                    },
                    error: function () {
                        $container.html('Возникла пробема');
                    }
                });
            });
        });
    </script>
{{/section}}