<h1>Отпускные туры</h1>
{{#each vacations}}
    <div class="vacation">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        {{#if inSeason}}
            <span class="price">{{price}}</span>
            <a href="/cart/add?sku={{sku}}" class="btn btn-default">By Now!</a>
        {{else}}
            <span class="outOfSeason">К сожалению не сезон для этого тура</span>
            {{!Страница "сообщите мне, когда наступит сезон для этого тура"}}
            <a href="/notify-me-when-in-season?sku={{sku}}">Сообщите мне, когда наступит сезон для этого тура</a>
        {{/if}}
    </div>
{{/each}}

<hr>
<p>Currency:
    <a href="/set-currency/USD" class="currency {{currencyUSD}}">USD</a> |
    <a href="/set-currency/GBP" class="currency {{currencyGBP}}">GBP</a> |
    <a href="/set-currency/BTC" class="currency {{currencyBTC}}">BTC</a> |
    <a href="/set-currency/RUB" class="currency {{currencyRUB}}">RUB</a>
</p>