<h1>Информация клиента</h1>
<h2><a href="malito: {{email}}">{{name}} &lt;{{email}}&gt;</a></h2>

<h3>Адрес:</h3>
{{{fullAddress}}}

<h3>Телефон:</h3>
{{phone}}

<h3>Заказы:</h3>
<ul>
    {{#each orders}}
        <li><a href="{{url}}">{{orderNumber}}: {{date}} &mdash; {{status}}</a> </li>
    {{/each}}
</ul>