<h1>Новый клиент</h1>

<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form" action="/customer/register" method="POST">
        <div class="form-group">
            <label for="fieldFirstName" class="col-sm-2 control-label">First name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="fieldFirstName" name="firstName">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldLastName" class="col-sm-2 control-label">Last name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="fieldLastName" name="lastName">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required id="fieldEmail" name="email">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldAddress1" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="fieldAddress1" name="address1"><br>
                <input type="text" class="form-control" id="fieldAddress2" name="address2">
            </div>
            <br>
        </div>
        <div class="form-group">
            <label for="fieldCity" class="col-sm-2 control-label">City</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="fieldCity" name="city">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldState" class="col-sm-2 control-label">State</label>
            <div class="col-sm-4">
                <select id="fieldState" name="state">
                    <option value="AL">Alabama</option> <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option> <option value="AR">Arkansas</option>
                    <option value="CA">California</option> <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option> <option value="DE">Delaware</option>
                    <option value="DC">District Of Columbia</option> <option value="FL">Florida</option>
                    <option value="GA">Georgia</option> <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option> <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option> <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option> <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option> <option value="ME">Maine</option>
                    <option value="MD">Maryland</option> <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option> <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option> <option value="MO">Missouri</option>
                    <option value="MT">Montana</option> <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option> <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option> <option value="NM">New Mexico</option>
                    <option value="NY">New York</option> <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option> <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option> <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option> <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option> <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option> <option value="TX">Texas</option>
                    <option value="UT">Utah</option> <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option> <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option> <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="fieldZip" class="col-sm-2 control-label">Postal Code</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" required id="fieldZip" name="zip">
            </div>
        </div>
        <div class="form-group">
            <label for="fieldPhone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-4">
                <input type="phone" class="form-control" required id="fieldPhone" name="phone">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>