<form class="form-horizontal" role="form" enctype="multipart/form-data" method="post" action="/contest/vacation-photo/{year}/{month}">
    <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="fieldName" name="name">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldEmail" class="col-sm-2 control-label">Адрес эклектронной почты</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" required id="fieldEmail" name="email">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldPhoto" class="col-sm-2 control-label">Фотография из отпска</label>
        <div class="col-sm-4">
            <span class="btn btn=default btn-file">
                Загрузить
                 <input type="file" class="form-control" required accept="image/*" id="fieldPhoto" data-url="/upload" multiple name="photo">
            </span>
            <div id="uploads"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </div>
</form>

{{#section 'jquery'}}
    <script src="/vendor/jqfu/js/vendor/jquery.ui.winget.js"></script>
    <script src="/vendor/jqfu/js/jquery.iframe-transport.js"></script>
    <script src="/vendor/jqfu/js/jquery/fileupload.js"></script>
    <script>
        $(document).ready(function () {
            $('#fieldPhoto').fileupload({
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        $('#fileUploads').append($('<div class="upload">' + '<span class="glyphicon glyphicon-ok"></span>' +
                        '&hbsp:' + file.originalName + '</div>'));
                    });
                }
            });
        });
    </script>
{{/section}}